* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* clock */
#time {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: #fff;
}
/* clock */
body {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background: #2f4353;
}
header {
  width: 100%;
  backdrop-filter: blur(40px);
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
}
.menu {
  display: none;
}
.header {
  width: 85%;
  margin: auto;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-family: "MuseoModerno", cursive;
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 1.7rem;
  background-color: #2f4353;
  background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.form {
  width: 40%;
  display: flex;
  justify-content: center;
  margin: auto;
  position: relative;
}

label {
  height: 48px;
  width: 40%;
  background: rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
}
label img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  filter: brightness(0) invert(1);
}
label input {
  width: 100%;
  height: 100%;
  color: #f5f5f5;
  border: none;
  background: transparent;
  outline: none;
  font-family: "Mulish", sans-serif;
}
.search button {
  background: transparent;
  border: none;
  outline: none;
}
input::placeholder {
  color: #f9f9f9;
  font-size: 16px;
}

.condition {
  display: flex;
  align-items: center;
}

.wind,
.humidity,
.description,
.current {
  font-family: "poppins", sans-serif;
  color: #fff;
}
.main {
  width: 60%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(50px);
  padding: 3rem;
  border-radius: 8px;
}
.weather {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.temp {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  color: #fff;
  letter-spacing: 0.02em;
}
.city {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #ffff;
  line-height: 40px;
  letter-spacing: 0.02em;
  margin-top: 8px;
}
main {
  display: grid;
  place-items: center;
  height: 100%;
  margin: 0 auto;
}
.weather.loading {
  position: relative;
  visibility: visible;
}
.weather.loading:after {
  visibility: visible;
  content: url(./Images/Ripple-1s-110px.svg);
  position: absolute;
  right: 40%;
  left: 40%;
  display: grid;
  place-items: center;
}

@media screen and (max-width: 1024px) {
  .main {
    width: 80%;
  }
  .header {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .condition-big {
    flex-direction: column;
  }
  .menu {
    display: block;
  }
  .header form,
  .header .small-w-image {
    display: none;
  }
  .header h1 {
    font-size: 1.2rem;
  }
  #time {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 552px) {
  .condition {
    display: none;
  }
  .weather {
    flex-direction: column;
    text-align: center;
  }
  .main {
    width: 90%;
  }
  label img {
    height: 20px;
    width: 20px;
  }
  .temp {
    font-size: 2.5rem;
  }
  input::placeholder {
    font-size: 10px;
  }
}
